.DS_Store
.idea

/app/vendor

/plugin/vendor
/plugin/tests/Cypress/node_modules

/shop/src/vendor
/shop/src/var/theme-variables.scss
/shop/src/var/cache
/shop/src/var/log/
/shop/src/public/media
/shop/src/public/theme
