.DS_Store
.idea

/app/vendor

/plugin/vendor
/plugin/tests/Cypress/node_modules


/shop/src/vendor
/shop/src/var/cache
/shop/src/var/log/

/shop/src/public/bundles/
/shop/src/public/media
/shop/src/public/theme
/shop/src/public/sitemap
/shop/src/public/thumbnail
